*{
    margin: 0;
    padding: 0;
    color: darkcyan;
    background-color: rgb(36, 36, 62);
}
:root{
    /* COLOUR */
    --colour-01:#B724F0;
    --colour-02:#2498F0;
    --colour-03:#2457F0;
    --colour-04:#7424F0;
    --colour-05:#7454F0;

}


section{
    width: 100wh;
    height: 100vh;
    
    outline: 5px lightgreen solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ContentArea{
    width: 80vw;
    height: 80vh;

    /* outline: 2px solid pink; */
    background-color: black;
    border:var(--colour-02) 2px solid  ;
    outline: yellow 2px solid;
    box-shadow: 0 2px 15px var(--colour-02) ;
    border-radius: 10px;

}
.inner_container{
    height: 50%;
    width: 100%;
    border-radius: 15px;
    /* outline: yellow 1px solid; */
}
.UpperContainer{
    border-radius: 10px 10px 0px 0px;
    
}
.LowerContainer{
    /* background-color: #B724F0; */
    border-radius:  0px 0px 10px 10px;
    display: flex;
    
}

.key{
    background-color: rgb(143, 185, 221);
    height: calc(100% - 15px);
    width: 40px;
    margin: 4px;
    border-radius:  0px 0px 10px 10px;
    border: #2457F0 solid 2px;
    box-shadow: 2px 2px 5px lightskyblue;
    color: black;

    display: flex;
    align-items: end;
    justify-content: center;
    font-size: 20px;
}